<!DOCTYPE html>

{% load static %}

<html lang="en">


<head>

	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/base_template.css' %}">

	{% block title %}
	<title>Health Information System</title>
	{% endblock %}

	
	
</head>

<body>


	{% block sidebar %}
	<!-- default navigation text for every page -->
	{% endblock %}


	<div style="margin-left:20%">

		{% if user.is_authenticated %}
		<div id="log_out">User: {{ user.get_full_name }}
		<form method="post" action="{% url 'logout' %}">{% csrf_token %}
		   <input name="log_out" class="btn btn-info" type="submit" id="log_out_input" value="Log out">
	   </form>
	   </div>
		{% endif %} 
		
		<h1 id="health_title">Health Information System</h1>

		
		
		{% block content %}
		<!-- default content text -->
		{% endblock %}
	
	
	
		<footer id="footer">
			<p>Logged in as: {{ user.get_full_name }}</p>
			<p>Views counter: {{ request.session.views_counter }} </p>
		</footer>
	
	</div>

</body>
</html>
